.headerContainer {
  height: 70px;
  width: 100%;
  max-width: 1440px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto;
  z-index: 1;
}

.desktopHeader {
  display: flex;
}

.mobileHeader {
  display: none;
  div[class*="icon"] {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 860px) {
  .desktopHeader {
    display: none;
  }
  .mobileHeader {
    display: flex;
  }
}