.rootContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(128.04deg, #26143B 6.75%, #170D28 75.05%) #3F1B52;
  margin: 0 auto;

  main {
    flex: 1 1 auto;
  }
}