.homeContainer {
  height: 100%;
  .homeCarousel {
    margin: 16px 32px;
    .carousel {
      div {
        height: 350px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
        border-radius: 20px;
      }
    }
  }
}