@import "./assets/mixins.scss";
.controller {
  margin-bottom: 24px;

  .block {
    position: relative;
    background: rgba(166, 127, 168, 0.34);
    border-radius: 10px;

    .element {
      height: 48px;
      width: 100%;
      color: #fff;
      background: transparent;
      font-size: 15px;
      border: none;
      outline: none;
      appearance: none;
      padding: 0 24px;
    }

    .span {
      position: absolute;
      left: 16px;
      color: #A67FA8;
      font-size: 17px;
      font-weight: 400;
      pointer-events: none;
      transition: 0.5s;
    }

    .element::placeholder {
      color: #B58BBA;
      font-weight: 400;
      font-size: 15px;
    }
  }

  .block input:focus ~ span,
  .block input:valid ~ span {
    font-size: 13px;
    transform: translateY(-35px);
  }

  .textDanger {
    color: #ff0000;
    font-weight: 400;
    font-size: 13px;
    margin-top: 4px;
  }

  .inputBlock {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
  }

  .selectBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-right: 24px;
    }
  }
}

/*@media only screen and (max-width: 860px) {*/
/*  .controller {*/
/*    margin-bottom: 16px;*/
/*  }*/
/*  */
/*  .element {*/
/*    font-size: 13px;*/
/*  }*/
/*  */
/*  .element::placeholder {*/
/*    font-size: 13px;*/
/*  }*/
/*  */
/*  .head {*/
/*    margin: 0 16px 16px 16px;*/
/*  }*/
/*  */
/*  .block {*/
/*    margin: 0 16px;*/
/*  }*/
/*  .textDanger {*/
/*    margin-left: 16px;*/
/*  }*/
/*}*/