* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: Ruberoid, sans-serif;
}

#__next {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

input, select, button {
  font-family: inherit;
}

.global-section:not(:first-child) {
  margin-top: 8px;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 16px 32px;
  margin: 0 auto;
}

.bgForIphoneScroll {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(128.04deg, #26143B 6.75%, #170D28 75.05%);
}

.disclaimer {
  display: none;
}

@media only screen and (max-width: 860px) {
  .container {
    padding: 8px 16px;
  }
}