@import '../../assets/mixins.scss';

.footerContainer {
  @include flex-center;
  height: 64px;
  color: #FFF;
  background: #000;

  .sites {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 576px) {
 .footerContainer {
   .sites {
     max-width: 250px;
   }
 }
}