#__next {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 40px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.logo > a{
    height: 40px;
    display: flex;
    align-items: center;
}

header {
    height: 40px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.head-title {
    display: block;
    padding: 0 8px;
}

.head-title:hover {
    color: #FFF;
    background: #0000FF;
    border-radius: 5px;
}

.active {
    color: #FFF;
    background: #0000FF;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    color: #000;
}

main {
    height: 100%;
    padding: 16px 32px;
}

footer {
    height: 64px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 0 32px;
    margin-top: auto;
}

@media all and (max-width: 576px) {
    nav {
        height: 64px;
        color: #FFF;
        background: #000;
        justify-content: space-between;
    }

    header {
        height: 64px;
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .head-title {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 8px;
    }

    .ant-dropdown-menu {
        padding: 0 !important;
        top: 16px !important;
    }
}