@import '../../assets/mixins.scss';

.aboutForm {
  .submit {
    @include buttonNulled();
    height: 40px;
    width: 100%;
    max-width: 200px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background: #17092E;
    border-radius: 40px;
  }
}